* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  background-color: hsl(217, 19%, 38%);
  border-radius: 7px;
  padding: 1.8rem;
  text-align: center;
}
.grind {
  color: hsl(150, 100%, 66%);
  margin-bottom: 1rem;
  animation: fadeIn 0.5s ease-in; /* Fade-in animation */
}

.naham {
  font-weight: bold;
  color: white;
  font-size: 1.6rem;
  animation: fadeIn 0.5s ease-in; /* Fade-in animation */
}


.display-text {
  font-weight: bold;
  color: white;
  font-size: 1.6rem;
  animation: fadeIn 0.5s ease-in; /* Fade-in animation */
}

.underline {
  width: 100%;
  height: 2px;
  background-color: white;
  flex-grow: 1;
}

.Advice-quote {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qote {
  font-size: 1.3rem;
  color: white;
}
button {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Smooth hover animation */
}

button:hover {
  transform: scale(1.1); /* Grows on hover */
}

.last-part {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.4s ease-in;
}